*{
    margin: 0;
    padding: 0;
}

body{
    font-size:1em;
    font-family:helvetica, arial, sans-serif;
    background-color: #e6e6e6;
}

/*CABEÇALHO*/
#cabecalho{
    background-color: #e6b800;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0px;
}

#logo{
    padding: 10px 10px 20px 10px;
    font-size: 2.5em;
    color: rgb(48, 42, 42);
    /* border: 1px solid black; */
}

#menu{
    padding:10px;
}

.branco{
    color: white;
}

/*Links*/
a:link, a:visited{ 
    color: white;
    font-weight: bold;   
    padding: 10px 20px;
    font-size: 22px;
    text-decoration: none;
    border-radius: 5px;
}

a:hover{
    background-color:white;
    color:#e6b800
}

/*CORPO*/
#conteudos{
    width: 70%;
    margin: 0 auto;
}
#postagens{
    width: 67%;
    border: 2px solid black;
    background-color:white;
    margin: 0 auto;
    float: left;
}
#lateral{
    width: 30%;
    border: 2px solid black;
    background-color:white;
    margin: 0 auto;
    float: right;
}
#rodape{
    clear: both;
    background-color: #e6b800;
    padding: 15px;
    text-align: center;
}