*{
    margin: 0;
    padding: 0;
}
body{
    font-size:1em;
    font-family:helvetica, arial, sans-serif;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
/*CABEÇALHO*/
#cabecalho{
    background: -webkit-linear-gradient(
        top, #00b7ea 0%,#009ec3 100%);
    padding: 15px;
    text-align: center;
}
#logo{
    padding: 10px 10px 20px 10px;
    font-size: 2.5em;
    color: rgb(48, 42, 42);
    /* border: 1px solid black; */
    clear: both;
    font-family: 'Readex Pro', sans-serif;
}
#menu{
    padding:10px;
}
.branco{
    color: white;
}
/*Links*/
a:link, a:visited{ 
    color: white;
    font-weight: bold;   
    padding: 10px 20px;
    font-size: 22px;
    text-decoration: none;
    border-radius: 5px;
}
a:hover{
    background-color:white;
    color:#000D2A;
    -webkit-transform: scale(1.9);
}
/*CORPO*/
#conteudos{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}
#postagens{
    width: 67%;
    /* border: 2px solid black; */
    background-color:#2180A7;
    margin: 0 auto;
    float: left;
    padding: 10px;
    border-radius: 10px;
}
.postagem{    
    border: 3px solid #000D2A;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
}
.postagem h2{
    color:#03205e;
    font-size: 2.5em;
    /* padding: 10px; */
}
.postagem span{
    font-weight: bold;
    padding: 0 0 10 0;
    font-size: 0.8em;
    display: block;
}
.postagem img{
    width: 80%;
    /* margin: 0 auto; */
    text-align: center;
}
.postagem p{
    text-align: justify;
    padding: 10px 0px;
}
.postagem a{
    color: #000D2A;
    font-size: 1em;
    padding: 0px;
}
.centraliza-img{
    text-align: center;
}
#rodape{
    clear: both;
    background-color: #000D2A;
    padding: 15px;
    text-align: center;
    margin-top: 15px;
}

/*ÁREA LATERAL*/
#lateral{
    width: 30%;
    /* border: 2px solid black; */
    background-color:#2180A7;
    margin: 0 auto;
    float: right;
    box-sizing: border-box;
    padding: 10px;
    border-radius:10px;
}
#postagens-recentes{
    width: 100%;
    height: 200px;    
    border: 3px solid #000D2A;
    border-radius:10px;
    padding: 10px;
    box-sizing: border-box;
    background-color:white;
}
#categorias{
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 3px solid #000D2A;
    border-radius:10px;
    box-sizing: border-box;
    background-color:white;
}
#postagens-recentes h2, #categorias h2, #redes-sociais h2{
    background-color:#21396E;
    color: white;
    padding: 5px;
    box-sizing: border-box;
    text-align:center;
    border-radius:10px;
}
#categorias a{
    color: #000D2A;
    font-size: 1.2em;
    padding: 5px;
}
#categorias a:hover{
    background-color:#4A8BFF;
    border-radius: 5px;
    padding: 0px;
}
#postagens-recentes p{
    font-size: 0.8em;
    padding: 5px;
}
#postagens-recentes a{
    font-size: 0.8em;
    padding: 3px;
    color: #21396E;
}
#redes-sociais {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 3px solid #000D2A;
    border-radius:10px;
    box-sizing: border-box;
    background-color:white;
    text-align: center;
}
#redes-sociais img {
    width: 20%;
}
#redes-sociais img:hover {
    -webkit-transform: scale(1.2);
}
.icones{
    padding-top: 30px;
}
.espaco-icone{
    padding-right: 7px;

}